<html>
<head>
  <style>
    h1   {text-align:center; line-height:100px; font-size:60px; }
    h3    {font-size:30px; text-align:center; line-height: 20px; padding-top: 150px}
    input {width: 300px; height: 90px; background-color: #ADD8E6; display: block; margin: auto; margin-top: 80px;
    font-size: 40px; border-radius: 20px}
  </style>
</head>
  <body>
    <h1><b>Treasure Hunt</b></h1>
    <h3>Please start game from the Welcome page!</h3>

    <form action="/" method="get">
      <input type="submit" value="Welcome Page"/>
    </form>
  </body>
</html>
